<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>权限列表</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">
    <link rel="stylesheet" href="/static/css/pages/dashboard.css">

    <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

</head>

<body>

<div id="wrapper">
    [( ~{ load :: header } )]

    <div id="masthead">

        <div class="container">

            <div class="masthead-pad">

                <div class="masthead-text">

                </div> <!-- /.masthead-text -->

            </div>

        </div> <!-- /.container -->

    </div> <!-- /#masthead -->

<!--        <section shiro:hasPermission="role-create" id="buttons">-->
<!--            <a href="javascript:;" class="btn btn-inverse btn-primary" onclick="user_add()">添加角色</a>-->
<!--        </section>-->


    <section id="tables">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
            <tr>
                <th>序号</th>
                <th>权限名称</th>
                <th>权限</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index:${data.list}">
                <th th:text="${index.count}">序号</th>
                <th th:text="${item.pname}">权限名称</th>
                <th th:text="${item.permission}">权限</th>
                <th th:text="${item.createDate}">创建时间</th>
                <th th:text="${item.updateDate}">修改时间</th>
                <th>操作</th>
            </tr>
            </tbody>
        </table>
    </section>

    <section id="paginations">
        <div class="pagination">
            <ul>
                <li th:if="${!data.isFirstPage}" th:value="${data.prePage}"><a href="javascript:;">上一页</a></li>
                <li th:each="item,loopStatus:${data.navigatepageNums}" th:class="${item==data.pageNum?'active':''}" th:value="${item}">
                    <a href="javascript:;" th:text="${item}"></a>
                </li>
                <li th:value="${data.nextPage}"  th:if="${!data.isLastPage}" id="next-page"><a href="javascript:;">下一页</a></li>
            </ul>
        </div>

    </section>

</div> <!-- /#wrapper -->




<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/page/per_list.js"></script>

<script>
    $(function () {
        Theme.init ();
        $("#main-nav>li").each((i,item)=>{
            if (i == 2) {
                $(item).attr('class','dropdown active')
            }
        })
    });
</script>

</body>
</html>