
ul,ol{
    list-style-type: none;
    margin: 0;
}
#myModal .modal-body div{
    display: inline-block;
    width: 50%;
    float: left;
}
#myModal .modal-body h5{

}

.modal-body li a{
    position: absolute;
    left: 120px;
}
#authorize>ul li{
    position: relative;
}