
ul,ol{
    list-style-type: none;
    margin: 0;
}
#myModal1 .modal-body div{
    display: inline-block;
    width: 50%;
    float: left;
}
#myModal1 .modal-body h5{

}

#myModal1 .modal-body a{
    position: relative;
    right: -50px;
}