
#开发环境

#端口号
server:
  port: 28080
#数据库连接
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sys_cms?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useUnicode=true&serverTimezone=UTC
    username: root
    password: lhfadmin
  #    thymeleaf模板配置
  thymeleaf:
    cache: false
    encoding: utf-8
    mode: HTML
    prefix: classpath:/templates/
  #    mvc配置
  mvc:
    view:
      prefix: /
      suffix: .html
    #      静态资源
    static-path-pattern: /static/**
    favicon:
      enabled: true
#mybatis配置
mybatis:
  type-aliases-package: com.sesc.rms.po
  mapper-locations: /mapper/*.xml
  configuration:
    lazy-loading-enabled: true

logging:
  level:
    com.sesc.rms.dao: debug


