<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>暂停下线</title>
<!--    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />-->
<!--    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">
    <link rel="stylesheet" href="/static/css/pages/dashboard.css">
    <link rel="stylesheet" href="/static/css/pages/role_list.css">

    <script src="/static/js/libs/jquery-3.4.1.min.js"></script>
    <style>
        #tables{
            position: relative;
            padding-bottom: 50px;
        }
       #tables .pagination{
            position: absolute;
            right: 20px;
            bottom: 15px;
            margin: 0;
        }
        .handle{
            position: absolute;
            left: 20px;
            bottom: 26px;
        }
        #myModal .modal-body table{
            margin-top: 20px;
        }


        #myModal{}
        #myModal .modal-body div{
            display: block;
            width: auto;
            float: right;
            margin: 0;
        }
        #myModal .modal-body div ul{
            display: block;
        }
        #myModal .modal-body a{
            right: 0;
        }
        #myModal #uname{
            background-color: #fff;
            border: 1px solid #ccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border linear .2s,box-shadow linear .2s;
            -moz-transition: border linear .2s,box-shadow linear .2s;
            -o-transition: border linear .2s,box-shadow linear .2s;
            transition: border linear .2s,box-shadow linear .2s;
            display: inline-block;
            height: 20px;
            padding: 4px 6px;
            font-size: 14px;
            line-height: 20px;
            color: #555;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        #myModal #uname:focus{
            border-color: rgba(82,168,236,0.8);
            outline: 0;
            outline: thin dotted \9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
        }
    </style>
</head>

<body>

<div id="wrapper">

    <div id="topbar">

        <div class="container">

            <a href="javascript:void(0)" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                <i class="icon-cog"></i>
            </a>

            <div id="top-nav">

                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            查看网站
                            <b class="caret"></b>
                        </a>

                        <!--					<ul class="dropdown-menu pull-right">-->
                        <!--						<li><a href="javascript:void(0)">查看网站1</a></li>-->
                        <!--						<li><a href="javascript:void(0)">查看网站2</a></li>-->
                        <!--						<li class="dropdown-submenu">-->
                        <!--		                  <a tabindex="-1" href="#">下拉菜单</a>-->
                        <!--		                  <ul class="dropdown-menu">-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单1</a></li>-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单2</a></li>-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单3</a></li>-->
                        <!--		                  </ul>-->
                        <!--		                </li>-->
                        <!--					</ul> -->
                    </li>
                </ul>

                <ul class="pull-right">
                    <li><a href="/login"><i class="icon-user"></i> [[${#session.getAttribute('user').getRealName()}]]</a></li>
                    <li><a href="/customer/list?pageindex=1&flag=1"><span class="badge badge-primary"></span> 新消息</a></li>
<!--                    <li class="dropdown">-->
<!--                        <a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                            设置-->
<!--                            <b class="caret"></b>-->
<!--                        </a>-->

<!--                        <ul class="dropdown-menu pull-right">-->
<!--                            <li><a href="javascript:void(0)">设置 #1</a></li>-->
<!--                            <li><a href="javascript:void(0)">设置 #2</a></li>-->
<!--                            <li class="dropdown-submenu">-->
<!--                                <a tabindex="-1" href="#">下拉菜单</a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a tabindex="-1" href="#">菜单1</a></li>-->
<!--                                    <li><a tabindex="-1" href="#">菜单2</a></li>-->
<!--                                    <li><a tabindex="-1" href="#">菜单3</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li><a href="/login">退出</a></li>
                </ul>

            </div> <!-- /#top-nav -->

        </div> <!-- /.container -->

    </div> <!-- /#topbar -->




    <div id="header">

        <div class="container">

            <a href="./index.html" class="brand">首页</a>

            <a href="javascript:void(0)" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-reorder"></i>
            </a>

            <div class="nav-collapse">
                <ul id="main-nav" class="nav pull-right">
                    <li class="nav-icon">
                        <a href="/index">
                            <i class="icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="dropdown active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th"></i>
                            <span>客户管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li id="customers"><a href="javascript:void(0)">客户列表</a></li>
                            <li id="sleep"><a href="javascript:void(0)">休眠公海</a></li>
                            <li id="partner"><a href="javascript:void(0)">合作中</a></li>
                            <li id="pause"><a href="javascript:void(0)">暂停下线</a></li>
<!--                            <li><a href="./bonus.html">其他组件</a></li>-->
<!--                            <li class="dropdown-submenu">-->
<!--                                <a tabindex="-1" href="#">下拉菜单</a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a tabindex="-1" href="#">菜单1</a></li>-->
<!--                                    <li><a tabindex="-1" href="#">菜单2</a></li>-->
<!--                                    <li><a tabindex="-1" href="#">菜单3</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
                        </ul>
                    </li>

                    <li class="dropdown" shiro:hasPermission="system-manage">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-copy"></i>
                            <span>系统管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" id="user">用户管理</a></li>
                            <li><a href="javascript:void(0)" id="role">角色管理</a></li>
                            <li><a href="javascript:void(0)" id="permission">权限管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-external-link"></i>
                            <span>其他</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="./login.html">登录</a></li>
                            <li><a href="./signup.html">注册</a></li>
                            <li><a href="./error.html">错误</a></li>
                            <li><a href="./skins.html">主题</a></li>
                            <li><a href="./sticky.html">完美的底部</a></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- /.nav-collapse -->

        </div> <!-- /.container -->

    </div> <!-- /#header -->




    <div id="masthead">

        <form id="solr-form" style="margin: 0" action="/customer/list" method="get">
<!--            <label class="control-label" style="display: inline-block">分组查询:</label>-->
<!--            <select name="group" style="margin: 0px">-->
<!--                <option value="-2" selected>全部</option>-->
<!--                <option value="-1">休眠中</option>-->
<!--                <option value="1">已分配</option>-->
<!--                <option value="0">未分配</option>-->
<!--            </select>-->

            <label class="control-label" style="display: inline-block">客户姓名:</label>
            <input type="text" name="name" style="margin: 0px" th:value="${solr.name}"/>

            <label class="control-label" style="display: inline-block">客户电话:</label>
            <input type="text" name="tel" style="margin: 0px" th:value="${solr.tel}"/>

            <label class="control-label" style="display: inline-block">企业名称:</label>
            <input type="text" name="cfrom" style="margin: 0px" th:value="${solr.cfrom}"/>

            <label class="control-label" style="display: inline-block">地区:</label>
            <input type="text" name="address" style="margin: 0px" th:value="${solr.address}"/>

            <input type="hidden" name="flag" value="4"/>

            <input type="submit" class="btn btn-danger btn-primary" id="submit" value="查询">

<!--            <input type="button" class="btn btn-danger btn-secondary" id="add-customer" value="添加">-->
        </form>
        <form id="hidden-form">
            <input type="hidden" name="name" style="margin: 0px" th:value="${solr.name}"/>
            <input type="hidden" name="tel" style="margin: 0px" th:value="${solr.tel}"/>
            <input type="hidden" name="cfrom" style="margin: 0px" th:value="${solr.cfrom}"/>
            <input type="hidden" name="address" style="margin: 0px" th:value="${solr.address}"/>
            <input type="hidden" name="flag" value="4"/>
        </form>
        <script>
            $(function () {
                $("[name='group']").on("change",function () {
                    let group = $(this).val();
                    $("[name='belongs']").remove()
                    $("#uname").remove()
                    addelem(group,-3);
                });

                let group = [[${solr.group}]] ==null?(-2):[[${solr.group}]];
                if (group) {
                    $("[name='group']").children("[value='"+group+"']").attr("selected","selected")
                    if (group == 1) {
                        let belongs = [[${solr.belongs}]];
                        addelem(1,belongs);
                    }
                }
            });
            function addelem(group,belongs) {
                let elem='';
                if ( group==1 ){
                    $.ajax({
                        url:url+"/user/allUser",
                        type:"post",
                        data:{},
                        dataType:"json",
                        success:function (response) {
                            elem+="<label id='uname' class=\"control-label\" style=\"display: inline-block\">坐席:</label>";
                            elem+='<select name="belongs" style="margin: 0px">';
                            elem+='<option value="-3" selected>全部</option>';
                            $.each(response.list,function (i, item) {
                                if (belongs == item.uid) {
                                    elem+='<option value="'+item.uid+'" selected>'+item.uname+'</option>'
                                }else{
                                    elem+='<option value="'+item.uid+'">'+item.uname+'</option>'
                                }
                            })
                            elem+='</select>';
                            $("#solr-form [name='group']").after(elem);
                        }
                    })
                }
            }
        </script>
<!--        <div class="container">-->

<!--            <div class="masthead-pad">-->

<!--                <div class="masthead-text">-->
<!--                    客户列表-->
<!--                </div> &lt;!&ndash; /.masthead-text &ndash;&gt;-->

<!--            </div>-->

<!--        </div> &lt;!&ndash; /.container &ndash;&gt;-->

    </div> <!-- /#masthead -->

<!--        <section shiro:hasPermission="role-create" id="buttons">-->
<!--            <a href="javascript:void(0)" class="btn btn-inverse btn-primary" onclick="role_add()">添加角色</a>-->
<!--        </section>-->


    <section id="tables">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="checkAll(this)" class="check-all"></th>
                <th>序号</th>
                <th>归属坐席</th>
                <th>客户姓名</th>
                <th>级别</th>
                <th>客户电话</th>
                <th>企业名称</th>
                <th>客户地址</th>
                <th>创建时间</th>
                <th>是否回访</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="customer" th:each="item,loopStatus : ${datas.list}">
                <th><input type="checkbox" class="checked" onclick="checkOne(this)" th:value="${item.id}"></th>

                <th th:text="${loopStatus.count}"></th>

                <th th:if="${item.belongs == 0}">
                    未分配
                </th>
                <th th:if="${item.belongs == -1}">
                    休眠中
                </th>
                <th th:if="${item.belongs &gt; 0}">
                    [[${item.realName}]]
                </th>


                <th th:text="${item.name}"></th>

                <th th:if="${item.caim==0}">无</th>
                <th th:if="${item.caim==1}">A</th>
                <th th:if="${item.caim==2}">B</th>
                <th th:if="${item.caim==3}">C</th>
                <th th:if="${item.caim==4}">D</th>

                <th th:text="${item.tel}"></th>
                <th th:text="${item.cfrom}"></th>
                <th th:text="${item.address}"></th>
                <th th:text="${item.time}"></th>
                <th th:if="${item.restatus == 0}">
                    否
                </th>
                <th th:if="${item.restatus == 1}">
                    是
                </th>
                <th>
                    <a shiro:hasPermission="tail-show" href="javascript:void(0)" class="btn btn-small btn-secondary" onclick="tailInfo(this)" th:data-show="${item.id}">查看</a>
<!--                    <a href="javascript:void(0)" class="btn btn-small btn-warning roleRemove" th:value="${item.id}" th:data-visit="${item.id}">回访</a>-->
                    <a shiro:hasPermission="tail-add" href="javascript:void(0)" class="btn btn-small btn-warning" onclick="customerTail(this)"  th:data-tail="${item.id}">跟踪</a>
                    <a shiro:hasPermission="visit-add" href="javascript:void(0)" class="btn btn-small btn-success"  th:data-visit="${item.id}">回访</a>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="handle">
            <a shiro:hasPermission="customer-allocation" href="javascript:void(0)" class="btn btn-primary btn-small handleCustomer" data-flag="allocation">分配</a>
            <a shiro:hasPermission="custommer-sleep" href="javascript:void(0)" class="btn btn-danger btn-small handleCustomer" data-flag="sleep">休眠</a>
        </div>
        <div class="pagination">
            <input type="hidden" name="page" value="4"/>
            <ul>
                <li th:if="${!datas.isFirstPage}" th:value="1"><a href="javascript:void(0)">首页</a></li>
                <li th:if="${!datas.isFirstPage}" th:value="${datas.prePage}"><a href="javascript:void(0)">上一页</a></li>
                <li th:each="item,loopStatus:${datas.navigatepageNums}" th:class="${item==datas.pageNum?'active':''}" th:value="${item}">
                    <a href="javascript:void(0)" th:text="${item}"></a>
                </li>
                <li th:value="${datas.nextPage}"  th:if="${!datas.isLastPage}" id="next-page"><a href="javascript:void(0)">下一页</a></li>
                <li th:value="${datas.pages}"  th:if="${!datas.isLastPage}"><a href="javascript:void(0)">尾页</a></li>
            </ul>
        </div>
    </section>



</div> <!-- /#wrapper -->

<!-- 模态框（Modal）给角色授权模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">分配客户</h4>
            </div>
            <div class="modal-body">
                <h4>请选择市场专员</h4>
                <input name="uname" id="uname">
                <span><a href="javascript:void(0)" class="btn btn-small btn-primary" onclick="userByRole(1)">搜索</a></span>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>选择</th>
                        <th>姓名</th>
                        <th>联系方式</th>
                    </tr>
                </table>
<!--       分页部分         -->
                <div class="pagination">
                    <ul></ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消分配</button>
                <button type="button" class="btn btn-primary" id="primary">确认分配</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/libs/sweetalert2.all.min.js"></script>
<!--<script src="/static/js/page/client-list.js"></script>-->
<script src="/static/js/page/client-list.js"></script>
<script>

    $(function () {
        Theme.init ();
    });
</script>

</body>
</html>