<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新增跟踪记录</title>
    <!--	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />-->
    <!--	<meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">

    <link rel="stylesheet" href="/static/css/pages/client-tail-add.css"/>
    <script src="/static/js/libs/jquery-1.7.2.min.js"></script>
    <script src="/static/js/libs/jquery.cookie.js"></script>
    <style>


    </style>
</head>

<body style="width: 100vw;">

<div id="wrapper">

    <div id="topbar">

        <div class="container">

            <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                <i class="icon-cog"></i>
            </a>

            <div id="top-nav">

                <ul>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            View Your Site
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;">View Site #1</a></li>
                            <li><a href="javascript:;">View Site #2</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Dropdown menu</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="pull-right">
                    <li><a href="javascript:;"><i class="icon-user"></i> Logged in as John Doe</a></li>
                    <li><a href="javascript:;"><span class="badge badge-primary">1</span> New Message</a></li>
                    <li class="dropdown">
                        <a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">
                            Settings
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;">Settings #1</a></li>
                            <li><a href="javascript:;">Settings #2</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Dropdown menu</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                    <li><a tabindex="-1" href="#">Second level link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="login.html">Logout</a></li>
                </ul>

            </div> <!-- /#top-nav -->

        </div> <!-- /.container -->

    </div> <!-- /#topbar -->


    <div id="header">

        <div class="container">

            <a href="./index.html" class="brand">首页</a>

            <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-reorder"></i>
            </a>

            <div class="nav-collapse">
                <ul id="main-nav" class="nav pull-right">
                    <li class="nav-icon">
                        <a href="/index">
                            <i class="icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="dropdown active">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th"></i>
                            <span>客户管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li id="customers"><a href="javascript:;">客户列表</a></li>
                            <li><a href="javascript:;">休眠公海</a></li>
                            <li><a href="./jqueryui.html">jQuery UI</a></li>
                            <li><a href="./charts.html">图表</a></li>
                            <li><a href="./bonus.html">其他组件</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">下拉菜单</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">菜单1</a></li>
                                    <li><a tabindex="-1" href="#">菜单2</a></li>
                                    <li><a tabindex="-1" href="#">菜单3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-copy"></i>
                            <span>系统管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" id="user">用户管理</a></li>
                            <li><a href="javascript:;" id="role">角色管理</a></li>
                            <li><a href="javascript:;" id="permission">权限管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-external-link"></i>
                            <span>其他</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="./login.html">登录</a></li>
                            <li><a href="./signup.html">注册</a></li>
                            <li><a href="./error.html">错误</a></li>
                            <li><a href="./skins.html">主题</a></li>
                            <li><a href="./sticky.html">完美的底部</a></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- /.nav-collapse -->

        </div> <!-- /.container -->

    </div> <!-- /#header -->


    <div id="masthead">

        <div class="container">

            <div class="masthead-pad">

                <div class="masthead-text">
                    <h2>Validation</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div> <!-- /.masthead-text -->

            </div>

        </div> <!-- /.container -->

    </div> <!-- /#masthead -->


    <div id="content">

        <div class="container">


            <div class="row">

                <div class="span12">

                    <form id="tail-form" class="form-horizontal" novalidate="novalidate">
                        <div  class="customer-info">
                            <fieldset>
                                <legend>客户信息</legend>
                                    <div class="control-group">
                                        <label class="control-label">客户姓名:</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="cus-name" id="name" th:value="${customer.name}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">客户地址:</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="address" id="address" th:value="${customer.address}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">电话/手机号:</label>
                                        <div class="controls">
                                            <input type="tel" class="input-large" name="tel" id="tel" th:value="${customer.tel}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">企业名称:</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="cfrom" id="cfrom" th:value="${customer.cfrom}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">QQ</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="qq" id="qq" th:value="${customer.qq}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">微信/邮箱:</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="emailandwx" id="emailandwx" th:value="${customer.email}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">费用:</label>
                                        <div class="controls">
                                            <input type="text" class="input-large" name="money" id="money">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">联系状态:</label>
                                        <div class="controls">
                                            <select class="input-large" name="rate" id="rate">
                                                <option value="0">未联系上</option>
                                                <option value="1">联系中</option>
                                                <option value="2">合作中</option>
                                                <option value="3">暂停下线</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">级别:</label>
                                        <div class="controls">
                                            <select class="input-large" name="caim" id="caim">
                                                <option value="0">无</option>
                                                <option value="1">A</option>
                                                <option value="2">B</option>
                                                <option value="3">C</option>
                                                <option value="4">D</option>
                                            </select>
                                        </div>
                                    </div>
                            </fieldset>
                        </div>
                        <script>
                            $(function () {
                                let rate = [[${customer.rate}]]
                                let caim = [[${customer.caim}]];
                                $("#rate option").eq(rate).attr('selected','selected');
                                $("#caim option").eq(caim).attr('selected','selected');
                            })
                        </script>
                        <div class="communication">
                            <fieldset>
                                <legend>沟通内容</legend>
                                    <div class="control-group">
                                        <label class="control-label">提问:</label>
                                        <div class="controls">
                                            <textarea type="text" class="input-large" name="question" id="question"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">回答:</label>
                                        <div class="controls">
                                            <textarea class="input-large" name="remark" id="remark"></textarea>
                                        </div>
                                    </div>
                            </fieldset>
                        </div>
                        <div class="history">
                            <fieldset>
                                <legend>历史记录</legend>
                                <div class="control-group">
                                    <label class="control-label">历史记录:</label>
                                    <div class="controls">
                                        <div class="input-large" id="history">
                                            <div id="history__one" th:each="item,index:${customer.logs}">
                                                <div class="history__one__time question-remark">
                                                    <strong>时间:</strong>
                                                    <div>[[${item.logtime}]]</div>
                                                </div>
                                                <div class="history__one__bname question-remark">
                                                    <strong>管理者:</strong>
                                                    <div>[[${item.belongsname}]]</div>
                                                </div>
                                                <div class="history__one__question question-remark">
                                                    <strong>问题:</strong>
                                                    <div>[[${item.logquestion}]]</div>
                                                </div>
                                                <div class="history__one__remark question-remark">
                                                    <strong>内容:</strong>
                                                    <div>[[${item.logremark}]]</div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="operation">
                            <button type="button" class="btn btn-primary btn-large" id="log-add"><i
                                    class="icon-star"></i>确定
                            </button>
                            <button type="reset" class="btn btn-large"><a href="javascript:history.go(-1)">返回</a></button>
                        </div>
                    </form>
                </div> <!-- /.span12 -->

            </div> <!-- /.row -->

        </div> <!-- /.container -->

    </div> <!-- /#content -->

</div> <!-- /#wrapper -->
<script>
    $(function () {
        $("#log-add").on("click",function () {
            let name = $("#name").val();//姓名
            let address = $('#address').val();//地址
            let tel = $("#tel").val();//地址
            let cfrom = $('#cfrom').val();//公司
            let qq = $('#qq').val();//qq
            let email = $("#emailandwx").val();//邮箱，或者微信
            let money = $("#money").val();//费用
            let rate = $("#rate").val();//状态
            let caim = $("#caim").val();//级别
            let question = $('#question').val();//问题
            let remark = $("#remark").val();//回答

            let boo=false;

            if (!trim(name)) {
                Swal.fire(
                    "提示",
                    "名字必须填写",
                    "error"
                )
            }else if (!trim(address)) {
                Swal.fire(
                    "提示",
                    "地址必须填写",
                    "error"
                )
            }else if (!trim(tel)) {
                Swal.fire(
                    "提示",
                    "电话必须填写",
                    "error"
                )
            }else if (!trim(cfrom)) {
                Swal.fire(
                    "提示",
                    "公司名称必须填写",
                    "error"
                )
            }else if (!trim(remark)) {
                Swal.fire(
                    "提示",
                    "交流内容必须填写",
                    "error"
                )
            }else if (!trim(question)) {
                Swal.fire(
                    "提示",
                    "客户问题必须填写",
                    "error"
                )
            }else if (caim == 0) {
                Swal.fire(
                    "提示",
                    "请选择客户级别",
                    "error"
                )
            }else{
                $.ajax({
                    url:url+"/customer-log/add",
                    type:"post",
                    data:{
                        logname:name,
                        address:address,
                        tel:tel,
                        cfrom:cfrom,
                        qq:trim(qq),
                        email:trim(email),
                        money:money,
                        rate:rate,
                        caim:caim,
                        question:question,
                        remark:remark,
                        cumtomerid:[[${cumtomerid}]]
                    },
                    dataType:'json',
                    success:function (response) {
                        if (response.code == 1) {
                            //调专页面
                            let pageindex = $.cookie("pageindex");
                            window.location.href=url+"/customer/list?pageindex="+pageindex;
                        }
                    }
                })
            }
        })
    })
</script>

<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a> </a>
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->


<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/plugins/validate/jquery.validate.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>

<script src="/static/js/demos/demo.validation.js"></script>
<script src="/static/js/libs/sweetalert2.all.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/page/client-log-add.js"></script>

<script>

    $(function () {

        Theme.init();

    });

</script>

</body>
</html>