<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <!--	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />-->
    <!--	<meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">

    <link rel="stylesheet" href="/static/css/pages/client-tail-add.css"/>
    <script src="/static/js/libs/jquery-1.7.2.min.js"></script>
    <script src="/static/js/libs/jquery.cookie.js"></script>
    <style>


    </style>
</head>

<body style="width: 100vw;">

<div id="wrapper">

    [( ~{ load :: header } )]


    <div id="masthead">

        <div class="container">

            <div class="masthead-pad">

                <div class="masthead-text">
                    <h2>个人信息</h2>
                    <p>I do not know what to write here, but write English listening to tall fashion</p>
                </div> <!-- /.masthead-text -->

            </div>

        </div> <!-- /.container -->

    </div> <!-- /#masthead -->


    <div id="content">

        <div class="container">


            <div class="row">

                <div class="span12">

                    <form id="pwd-form" action="/user/modify" method="post" class="form-horizontal" novalidate="novalidate">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">原密码:</label>
                                <div class="controls">
                                    <input type="password" class="input-large" name="before-password" id="before-password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">新密码:</label>
                                <div class="controls">
                                    <input type="password" class="input-large" name="new-password" id="new-password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">确认密码:</label>
                                <div class="controls">
                                    <input type="password" class="input-large" name="confirm-password" id="confirm-password">
                                </div>
                            </div>

                            <div id="button" style="padding-left: 10%;margin-top: 5%">
                                <button type="button" class="btn btn-primary btn-large" id="password-modify"><i
                                        class="icon-star"></i>确定修改
                                </button>
                                <button type="reset" class="btn btn-large"><a href="javascript:history.go(-1)">返回</a></button>
                            </div>
                        </fieldset>

                    </form>
                </div> <!-- /.span12 -->
                <script>
                    $(function () {
                        $("#password-modify").on("click",function () {
                            let beforepwd = $("#before-password").val();
                            let newpwd = $("#new-password").val();
                            let confimpwd = $("#confirm-password").val();

                            let passwordReg=/^[a-zA-Z0-9_-]{4,16}$/;

                            $(".control-group").attr("class","control-group");
                            $(".error").not(".control-group").remove();

                            if (!beforepwd) {
                                $("#before-password").parents(".control-group").attr("class","control-group error");
                                $("#before-password").after("<div class='error'>" +
                                    "<span class='error'>原始密码不能为空！！！</span>" +
                                    "</div>");
                            }else{

                                if (passwordReg.test(trim(newpwd))){
                                    if (trim(newpwd) === trim(confimpwd)){

                                        $.ajax({
                                            url:url+"/user/modifyp",
                                            type:'post',
                                            data:{
                                                oldpassword:beforepwd,
                                                newpassword:newpwd
                                            },
                                            dataType:'json',
                                            success:function (response) {
                                                if (response.code==1){
                                                    window.location.href=url+"/user/logout";
                                                } else if (response.code == 0) {
                                                    window.location.href=url+"/500";
                                                } else if (response.code == -1) {
                                                    $("#before-password").parents(".control-group").attr("class","control-group error");
                                                    $("#before-password").after("<div class='error'>" +
                                                        "<span class='error'>密码有误！！！</span>" +
                                                        "</div>");
                                                }
                                            }
                                        })

                                    }else{
                                        $("#confirm-password").parents(".control-group").attr("class","control-group error");
                                        $("#confirm-password").after("<div class='error'>" +
                                            "<span class='error'>两次密码不一致！！！</span>" +
                                            "</div>");
                                    }
                                } else{
                                    $("#new-password").parents(".control-group").attr("class","control-group error");
                                    $("#new-password").after("<div class='error'>" +
                                        "<span class='error'>密码输入不合法</span>" +
                                        "</div>");
                                }
                            }
                        })
                    })

                </script>
            </div> <!-- /.row -->

        </div> <!-- /.container -->

    </div> <!-- /#content -->

</div> <!-- /#wrapper -->


<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a> </a>
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->


<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>

<!--<script src="/static/js/demos/demo.validation.js"></script>-->
<script src="/static/js/libs/sweetalert2.all.min.js"></script>
<script src="/static/js/common/common.js"></script>

<script>

    $(function () {

        Theme.init();
        $("#main-nav>li").each((i,item)=>{
            if (i == 3) {
                $(item).attr('class','dropdown active')
            }
        })
    });

</script>

</body>
</html>