<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<title>后台管理系统</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/static/css/font-awesome.css">
	
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

	<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">
	
	<link rel="stylesheet" href="/static/css/application.css">
	<link rel="stylesheet" href="/static/css/pages/dashboard.css">

	<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

<!--	<script src="/static/js/page/three.min.js"></script>-->
<!--	<script src="/static/js/page/OrbitControls.js"></script>-->
	<style>
		#canvas99{
			width: 100%!important;
			height: calc(100vh - 200px)!important;
			display: block!important;
			background-image: url("/static/img/background/index1.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body>
	
<div id="wrapper">
	
	[( ~{ load :: header } )]

<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->

</div> <!-- /#masthead -->
	<div id="canvas99"></div>
</div> <!-- /#wrapper -->




<div id="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div class="span6">
				(c) 2012 all rights reserved.
			</div> <!-- /span6 -->
			
			<div id="builtby" class="span6">
<!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/common/common.js"></script>

<script>

$(function () {
	
	Theme.init ();

	$("#main-nav>li").each((i,item)=>{
		if (i == 0) {
			$(item).attr('class','nav-icon active')
		}
	})


});
</script>

</body>
</html>