<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<title>后台管理系统</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/static/css/font-awesome.css">
	
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

	<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">
	
	<link rel="stylesheet" href="/static/css/application.css">
	<link rel="stylesheet" href="/static/css/pages/dashboard.css">

	<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

<!--	<script src="/static/js/page/three.min.js"></script>-->
<!--	<script src="/static/js/page/OrbitControls.js"></script>-->
	<style>
		#canvas99{
			width: 100%!important;
			height: calc(100vh - 200px)!important;
			display: block!important;
			background-image: url("/static/img/background/index1.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body>
	
<div id="wrapper">
	
<div id="topbar">
	
	<div class="container">
		
		<a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
			<i class="icon-cog"></i>
		</a>
	
		<div id="top-nav">
			
			<ul>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						查看网站				
						<b class="caret"></b>
					</a>
					
				</li>
			</ul>
			
			<ul class="pull-right">
				<li><a href="/login"><i class="icon-user"></i> [[${#session.getAttribute('user').getRealName()}]]</a></li>
				<li><a href="/customer/list?pageindex=1&flag=1"><span class="badge badge-primary"></span> 新消息</a></li>
				<li><a href="/login">退出</a></li>
			</ul>
			
		</div> <!-- /#top-nav -->
		
	</div> <!-- /.container -->
	
</div> <!-- /#topbar -->


	
	
<div id="header">
	
	<div class="container">
		
		<a href="./index.html" class="brand">首页</a>
		
		<a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        	<i class="icon-reorder"></i>
      	</a>
	
		<div class="nav-collapse">
			<ul id="main-nav" class="nav pull-right">
				<li class="nav-icon active">
					<a href="/index">
						<i class="icon-home"></i>
						<span>首页</span>        					
					</a>
				</li>
				
				<li class="dropdown">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-th"></i>
						<span>客户管理</span>
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">
						<li id="customers"><a href="javascript:void(0)">客户列表</a></li>
						<li id="sleep"><a href="javascript:void(0)">休眠公海</a></li>
						<li id="partner"><a href="javascript:void(0)">合作中</a></li>
						<li id="pause"><a href="javascript:void(0)">暂停下线</a></li>
<!--						<li><a href="./bonus.html">其他组件</a></li>-->
<!--						<li class="dropdown-submenu">-->
<!--		                  <a tabindex="-1" href="#">下拉菜单</a>-->
<!--		                  <ul class="dropdown-menu">-->
<!--		                    <li><a tabindex="-1" href="#">菜单1</a></li>-->
<!--		                    <li><a tabindex="-1" href="#">菜单2</a></li>-->
<!--		                    <li><a tabindex="-1" href="#">菜单3</a></li>-->
<!--		                  </ul>-->
<!--		                </li>-->
					</ul>    				
				</li>
				
				<li class="dropdown" shiro:hasPermission="system-manage">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-copy"></i>
						<span>系统管理</span>
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">
						<li><a href="javascript:;" id="user">用户管理</a></li>
						<li><a href="javascript:;" id="role">角色管理</a></li>
						<li><a href="javascript:;" id="permission">权限管理</a></li>
					</ul>    				
				</li>
				
				<li class="dropdown">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-external-link"></i>
						<span>其他</span> 
						<b class="caret"></b>
					</a>	

					<ul class="dropdown-menu">
						<li><a href="/login">登录</a></li>
                        <li><a href="/user/logout">退出</a></li>
						<li><a href="/user/info">个人信息</a></li>
						<li><a href="/modifyp">修改密码</a></li>
<!--						<li><a href="./error.html">错误</a></li>-->
<!--						<li><a href="./skins.html">主题</a></li>-->
<!--						<li><a href="./sticky.html">完美的底部</a></li>-->
					</ul>    				
				</li>
			</ul>
			
		</div> <!-- /.nav-collapse -->

	</div> <!-- /.container -->
	
</div> <!-- /#header -->




<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->

</div> <!-- /#masthead -->
	<div id="canvas99"></div>
</div> <!-- /#wrapper -->




<div id="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div class="span6">
				(c) 2012 all rights reserved.
			</div> <!-- /span6 -->
			
			<div id="builtby" class="span6">
<!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/common/common.js"></script>

<script>

$(function () {
	
	Theme.init ();
	
});
</script>

</body>
</html>