<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div th:fragment="header">
    <div id="topbar">

        <div class="container">

            <a href="javascript:void(0)" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                <i class="icon-cog"></i>
            </a>

            <div id="top-nav">

                <ul>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            查看网站
                            <b class="caret"></b>
                        </a>
                    </li>
                </ul>

                <ul class="pull-right">
                    <li><a href="/logout"><i class="icon-user"></i><span id="realName"></span></a></li>
                    <li><a href="/customer/list?pageindex=1&flag=1"><span class="badge badge-primary"></span> 新消息</a></li>

                    <li><a href="/logout">退出</a></li>
                </ul>

            </div> <!-- /#top-nav -->

        </div> <!-- /.container -->

    </div> <!-- /#topbar -->

    <div id="header">

        <div class="container">

            <a href="/index.html" class="brand">首页</a>

            <a href="javascript:void(0)" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-reorder"></i>
            </a>

            <div class="nav-collapse">
                <ul id="main-nav" class="nav pull-right">
                    <li class="nav-icon">
                        <a href="/index">
                            <i class="icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th"></i>
                            <span>客户管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li id="customers"><a href="javascript:void(0)">客户列表</a></li>
                            <li id="sleep"><a href="javascript:void(0)">休眠公海</a></li>
                            <li id="partner"><a href="javascript:void(0)">合作中</a></li>
                            <li id="pause"><a href="javascript:void(0)">暂停下线</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-copy"></i>
                            <span>系统管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" id="user">用户管理</a></li>
                            <li><a href="javascript:void(0)" id="role">角色管理</a></li>
                            <li><a href="javascript:void(0)" id="permission">权限管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-external-link"></i>
                            <span>其他</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/login">登录</a></li>
                            <li><a href="/user/logout">退出</a></li>
                            <li><a href="/user/info">个人信息</a></li>
                            <li><a href="/modifyp">修改密码</a></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- /.nav-collapse -->

        </div> <!-- /.container -->

    </div> <!-- /#header -->
</div>
</body>
</html>
