<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>用户添加页面</title>
<!--	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />-->
<!--	<meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/static/css/font-awesome.css">
	
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

	<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">
	
	<link rel="stylesheet" href="/static/css/application.css">
	<link href="/static/css/ui-lightness/ui-choose.css" rel="stylesheet" />

</head>

<body>
	
<div id="wrapper">
	
[( ~{ load :: header } )]




<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h2>添加用户</h2>
				<p>I do not know what to write here, but write English listening to tall fashion</p>
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->




<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				
				<form action="/" id="contact-form" class="form-horizontal" novalidate="novalidate">
					<fieldset>
					    <div class="control-group">
					      <label class="control-label">用户名</label>
					      <div class="controls">
					        <input type="text" class="input-large valid" name="realName" id="realName">
					      </div>
					    </div>
						<div class="control-group">
							<label class="control-label">登录名</label>
							<div class="controls">
								<input type="text" class="input-large valid" name="uname" id="name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">密码</label>
							<div class="controls">
								<input type="password" class="input-large" name="password" id="password">
							</div>
						</div>
<!--						<div class="control-group">-->
<!--							<label class="control-label">手机号</label>-->
<!--							<div class="controls">-->
<!--								<input type="tel" class="input-large" name="phone" id="phone">-->
<!--							</div>-->
<!--						</div>-->
<!--					    <div class="control-group">-->
<!--					      <label class="control-label">邮箱</label>-->
<!--					      <div class="controls">-->
<!--					        <input type="text" class="input-large" name="email" id="email">-->
<!--					      </div>-->
<!--					    </div>-->
						<div class="control-group">
							<label class="control-label">角色</label>
							<div class="controls">
								<ul class="ui-choose" multiple="multiple" id="uc_03">
									<li th:each="item:${datas.data}" th:text="${item.rname}" th:data-value="${item.rid}"></li>
								</ul>
							</div>
						</div>
					    <div class="form-actions">
					      <button type="button" class="btn btn-primary btn-large" id="user-add"><i class="icon-star"></i>确定</button>
					      <button type="reset" class="btn btn-large" id="go-back">返回</button>
					    </div>
					  </fieldset>
					</form>
							
			</div> <!-- /.span12 -->
			
		</div> <!-- /.row -->
		
	</div> <!-- /.container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->





<div id="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div class="span6">
				(c) 2012 all rights reserved.
			</div> <!-- /span6 -->
			
			<div id="builtby" class="span6">
				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">十二十辰</a> </a>
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /#footer -->


<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<!--<script src="/static/js/plugins/validate/jquery.validate.js"></script>-->

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>

<!--<script src="/static/js/demos/demo.validation.js"></script>-->
<script src="/static/js/libs/sweetalert2.all.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/page/user-add.js"></script>
<script src="/static/js/plugins/ui-choose.js"></script>

<script>

$(function () {
	
	Theme.init ();
	$('.ui-choose').ui_choose();

	$("#main-nav>li").each((i,item)=>{
		if (i == 2) {
			$(item).attr('class','dropdown active')
		}
	})
});

</script>

</body>
</html>