<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>用户管理系统</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">
    <link rel="stylesheet" href="/static/css/pages/dashboard.css">
    <link rel="stylesheet" href="/static/css/pages/user_list.css">

    <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>
    <style>

    </style>
</head>

<body>

<div id="wrapper">

    [( ~{ load :: header } )]

    <div id="masthead">

        <div class="container">

            <div class="masthead-pad">

                <div class="masthead-text">

                </div> <!-- /.masthead-text -->

            </div>

        </div> <!-- /.container -->

    </div> <!-- /#masthead -->

        <section shiro:hasPermission="user-create" id="buttons">
            <a href="javascript:void(0)" class="btn btn-inverse btn-primary" onclick="user_add()">添加用户</a>
        </section>


    <section id="tables">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>账号</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${datas.list}" th:data-key="${item.uid}">
                <th>[[ ${index.count} ]]</th>
                <th>[[ ${item.realName} ]]</th>
                <th>[[ ${item.uname} ]]</th>
                <th>[[ ${item.phone} ]]</th>
                <th>[[ ${item.email} ]]</th>
                <th>[[ ${item.createTime} ]]</th>
                <th>[[ ${item.updateTime} ]]</th>
                <th>
                    <a shiro:hasPermission="user-role" href="javascript:void(0)" class="btn btn-small btn-secondary" onclick='giverole(this)'>用户授权</a>
                    <a href="javascript:void(0)" class="btn btn-small btn-inverse" onclick='seerole(this)'>查看角色</a>
                    <a shiro:hasPermission="user-del" href="javascript:void(0)" class="btn btn-small btn-danger" onclick='del(this)'>删除用户</a>
                </th>
            </tr>
            </tbody>
        </table>
    </section>

    <section id="paginations">
        <div class="pagination">
            <ul></ul>
        </div>

    </section>

</div> <!-- /#wrapper -->

<!--查看角色弹出框-->
<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">查看角色</h4>
            </div>
            <div class="modal-body">
                <ul>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--角色授权弹出框-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel1">角色授权</h4>
            </div>
            <div class="modal-body">
                <div id="authorized" class="">
                    <h5 class="modal-title">已拥有角色</h5>
                    <ul></ul><!--现未拥有的-->
                </div>
                <div id="authorize" class="">
                    <h5 class="modal-title">未拥有角色</h5>
                    <ul></ul><!--现拥有的-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!--                <button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/libs/sweetalert2.all.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/page/user_list.js"></script>
<script>
    $("#main-nav>li").each((i,item)=>{
        if (i == 2) {
            $(item).attr('class','dropdown active')
        }
    })
</script>
</body>
</html>