<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>用户管理系统</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap后台模版,Bootstrap教程,Bootstrap中文,后台管理系统模版,后台模版下载,后台管理系统,后台管理模版" />
    <meta name="description" content="JS代码网提供Bootstrap模版,后台管理系统模版,后台管理界面,Bootstrap后台模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css">

    <link rel="stylesheet" href="/static/css/application.css">
    <link rel="stylesheet" href="/static/css/pages/dashboard.css">

    <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>

</head>

<body>

<div id="wrapper">

    <div id="topbar">

        <div class="container">

            <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                <i class="icon-cog"></i>
            </a>

            <div id="top-nav">

                <ul>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            查看网站
                            <b class="caret"></b>
                        </a>

                        <!--					<ul class="dropdown-menu pull-right">-->
                        <!--						<li><a href="javascript:;">查看网站1</a></li>-->
                        <!--						<li><a href="javascript:;">查看网站2</a></li>-->
                        <!--						<li class="dropdown-submenu">-->
                        <!--		                  <a tabindex="-1" href="#">下拉菜单</a>-->
                        <!--		                  <ul class="dropdown-menu">-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单1</a></li>-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单2</a></li>-->
                        <!--		                    <li><a tabindex="-1" href="#">菜单3</a></li>-->
                        <!--		                  </ul>-->
                        <!--		                </li>-->
                        <!--					</ul> -->
                    </li>
                </ul>

                <ul class="pull-right">
                    <li><a href="/login"><i class="icon-user"></i> 登录</a></li>
                    <li><a href="javascript:;"><span class="badge badge-primary">1</span> 新消息</a></li>
                    <li class="dropdown">
                        <a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">
                            设置
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;">设置 #1</a></li>
                            <li><a href="javascript:;">设置 #2</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">下拉菜单</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">菜单1</a></li>
                                    <li><a tabindex="-1" href="#">菜单2</a></li>
                                    <li><a tabindex="-1" href="#">菜单3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="login.html">退出</a></li>
                </ul>

            </div> <!-- /#top-nav -->

        </div> <!-- /.container -->

    </div> <!-- /#topbar -->




    <div id="header">

        <div class="container">

            <a href="./index.html" class="brand">首页</a>

            <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-reorder"></i>
            </a>

            <div class="nav-collapse">
                <ul id="main-nav" class="nav pull-right">
                    <li class="nav-icon">
                        <a href="/index">
                            <i class="icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th"></i>
                            <span>客户管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="./elements.html">组件</a></li>
                            <li><a href="user-add.html">表单验证</a></li>
                            <li><a href="./jqueryui.html">jQuery UI</a></li>
                            <li><a href="./charts.html">图表</a></li>
                            <li><a href="./bonus.html">其他组件</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">下拉菜单</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">菜单1</a></li>
                                    <li><a tabindex="-1" href="#">菜单2</a></li>
                                    <li><a tabindex="-1" href="#">菜单3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown active">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-copy"></i>
                            <span>系统管理</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" id="user">用户管理</a></li>
                            <li><a href="javascript:;" id="role">角色管理</a></li>
                            <li><a href="javascript:;" id="permission">权限管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-external-link"></i>
                            <span>其他</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="./login.html">登录</a></li>
                            <li><a href="./signup.html">注册</a></li>
                            <li><a href="./error.html">错误</a></li>
                            <li><a href="./skins.html">主题</a></li>
                            <li><a href="./sticky.html">完美的底部</a></li>
                        </ul>
                    </li>
                </ul>

            </div> <!-- /.nav-collapse -->

        </div> <!-- /.container -->

    </div> <!-- /#header -->




    <div id="masthead">

        <div class="container">

            <div class="masthead-pad">

                <div class="masthead-text">

                </div> <!-- /.masthead-text -->

            </div>

        </div> <!-- /.container -->

    </div> <!-- /#masthead -->
    <shiro:hashPermission name = "user:create">
    <section id="buttons">
        <a href="javascript:;" class="btn btn-inverse btn-primary" onclick="user_add()">添加用户</a>
    </section>
    </shiro:hashPermission>

    <section id="tables">
        <table class="table table-bordered table-striped table-highlight">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作
                </th>
            </tr>
            </tbody>
        </table>
    </section>

    <section id="paginations">
        <div class="pagination">
            <ul>

            </ul>
        </div>

    </section>

</div> <!-- /#wrapper -->




<div id="footer">

    <div class="container">

        <div class="row">

            <div class="span6">
                (c) 2012 all rights reserved.
            </div> <!-- /span6 -->

            <div id="builtby" class="span6">
                <!--				<a href="#">Built by <a href="http://www.5imoban.net" target="_blank">我爱模板网</a></a>				-->
            </div> <!-- /.span6 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /#footer -->
<script src="/static/js/libs/jquery-1.7.2.min.js"></script>
<script src="/static/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/static/js/Theme.js"></script>
<script src="/static/js/Charts.js"></script>

<script src="/static//js/plugins/excanvas/excanvas.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static//js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/static/js/demos/charts/line.js"></script>
<script src="/static/js/demos/charts/donut.js"></script>
<script src="/static/js/common/common.js"></script>

<script>

    $(function () {

        Theme.init ();
        //刷新用户列表
        list_user(1,1);
    });

    $(function () {

    })

    //获取用户列表
    function list_user(pageindex) {
        $("#paginations .pagination ul li").remove();
        $("#tables tbody tr").remove();
        $.ajax({
            url:url+"/user/listUser",
            type:"post",
            data:{
                pageNum:pageindex,
                pageSize:1
            },
            dataType:"json",
            success:function (response) {
                console.log(response)
                var li="";
                $.each(response.list,function (i, item) {
                    li="<tr>\n" +
                        "    <th>"+(++i)+"</th>\n" +
                        "    <th>"+(item.uname)+"</th>\n" +
                        "    <th>"+(item.phone)+"</th>\n" +
                        "    <th>"+(item.email)+"</th>\n" +
                        "    <th>"+(item.createTime)+"</th>\n" +
                        "    <th>"+(item.updateTime)+"</th>\n" +
                        "    <th>操作</th>\n" +
                        "</tr>";
                })
                //添加节点
                $("#tables tbody").append(li);

                //分页节点
                var pages="";
                if (response.hasPreviousPage == true){
                    pages+="<li><a href=\"javascript:;\" onclick='list_user("+response.prePage+")'>上一页</a></li>";
                }
                $.each(response.navigatepageNums,function (i, item) {
                    if (pageindex == item) {
                        pages+=" <li class='active'><a href=\"javascript:;\" onclick='list_user("+item+")'>"+item+"</a></li>";
                    }else{
                        pages+=" <li><a href=\"javascript:;\" onclick='list_user("+item+")'>"+item+"</a></li>";
                    }
                })
                if (response.hasNextPage == true) {
                    pages+="<li><a href=\"javascript:;\" onclick='list_user("+response.nextPage+")'>下一页</a></li>"
                }

                $("#paginations .pagination ul").append(pages);

            }
        })
    }
    function user_add() {
        window.location.href=url+"/user-add";
    }
</script>

</body>
</html>