<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesc.rms.dao.CustomerMapper">

<!--  客户列表查询  -->
    <!--
        group==-2  查询全部客户
        group==1  查询目标坐席下的客户
        group == -1 查询公海内的客户
        group ==0 查询未分配的客户

    -->
    <select id="listCustomers" resultType="com.sesc.rms.po.CustomerPo">
        SELECT
            mc.id,
            mc.`name`,
            mc.address,
            mc.qq,
            mc.tel,
            mc.email,
            mc.belongs,
            mc.lasttime,
            mc.time,
            mc.`status`,
            mc.look,
            mc.restatus,
            mc.caim,
            mc.cfrom,
            mc.type,
            mc.keyword,
            mc.etime,
            mc.rate,
            mc.remark,
            mc.count,
            mc.project,
            su.uid,
            su.uname
        FROM
            ml_customer AS mc
            LEFT JOIN sys_user AS su ON mc.belongs = su.uid
        <where>
            <if test="name != null and name!=''">
                and POSITION(#{name} in mc.name)
            </if>
            <if test="address != null and address!=''">
                and POSITION(#{address} in mc.address)
            </if>
            <if test="qq != null and qq!=''">
                and mc.qq=#{qq}
            </if>
            <if test="tel != null and tel!=''">
                and POSITION(#{tel} in mc.tel)
            </if>
            <if test="email != null and email!=''">
                and mc.email=#{email}
            </if>
            <if test="group !=null and group != -2">
                <choose>
                    <when test="group == 1">
                        <if test="belongs != null and belongs != -3">
                            and mc.belongs=#{belongs}
                        </if>
                    </when>
                    <when test="group == -1 or group == 0">
                        and mc.belongs=#{group}
                    </when>

                </choose>
            </if>
            <if test="lasttime != null and lasttime!=''">
                and mc.lasttime=#{lasttime}
            </if>
            <if test="time != null and time!=''">
                and mc.time=#{time}
            </if>
            <if test="status != null">
                and mc.`status`=#{status}
            </if>
            <if test="look != null">
                and mc.look=#{look}
            </if>
            <if test="restatus != null">
                and mc.restatus=#{restatus}
            </if>
            <if test="caim != null">
                and mc.caim=#{caim}
            </if>
            <if test="cfrom != null and cfrom!=''">
                and POSITION(#{cfrom} in mc.cfrom)
            </if>
            <if test="type != null">
                and mc.type=#{type}
            </if>
            <if test="keyword != null and keyword!=''">
                and mc.keyword=#{keyword}
            </if>
            <if test="etime != null and etime!=''">
                and mc.etime=#{etime}
            </if>
            <if test="rate != null and rate!=''">
                and mc.rate=#{rate}
            </if>
            <if test="remark != null and remark!=''">
                and mc.remark=#{remark}
            </if>
            <if test="count != null">
                and mc.count=#{count}
            </if>
            <if test="project != null and project!=''">
                and mc.project=#{project}
            </if>
        </where>
        order by mc.time desc
    </select>
<!--添加客户-->
    <insert id="addCustomer" parameterType="com.sesc.rms.po.CustomerPo">
        insert  into ml_customer(`name`,`address`,`qq`,`tel`,`email`,`belongs`,`time`,cfrom)
        value(#{name},#{address},#{qq},#{tel},#{email},#{belongs},#{time},#{cfrom})
    </insert>
<!--  根据条件查询一个客户是否存在 -->
    <select id="findOneCustomer" resultType="int" parameterType="com.sesc.rms.po.CustomerPo">
        SELECT
            count(1)
        FROM
        ml_customer AS mc
        <where>
            <if test="name != null and name!=''">
                and mc.name=#{name}
            </if>
            <if test="address != null and address!=''">
                and mc.address=#{address}
            </if>
            <if test="qq != null and qq!=''">
                and mc.qq=#{qq}
            </if>
            <if test="tel != null and tel!=''">
                and mc.tel=#{tel}
            </if>
            <if test="email != null and email!=''">
                and mc.email=#{email}
            </if>
            <if test="belongs != null">
                and mc.belongs=#{belongs}
            </if>
            <if test="lasttime != null and lasttime!=''">
                and mc.lasttime=#{lasttime}
            </if>
            <if test="time != null and time!=''">
                and mc.time=#{time}
            </if>
            <if test="status != null">
                and mc.`status`=#{status}
            </if>
            <if test="look != null">
                and mc.look=#{look}
            </if>
            <if test="restatus != null">
                and mc.restatus=#{restatus}
            </if>
            <if test="caim != null">
                and mc.caim=#{caim}
            </if>
            <if test="cfrom != null and cfrom!=''">
                and mc.cfrom=#{cfrom}
            </if>
            <if test="type != null">
                and mc.type=#{type}
            </if>
            <if test="keyword != null and keyword!=''">
                and mc.keyword=#{keyword}
            </if>
            <if test="etime != null and etime!=''">
                and mc.etime=#{etime}
            </if>
            <if test="rate != null and rate!=''">
                and mc.rate=#{rate}
            </if>
            <if test="remark != null and remark!=''">
                and mc.remark=#{remark}
            </if>
            <if test="count != null">
                and mc.count=#{count}
            </if>
            <if test="project != null and project!=''">
                and mc.project=#{project}
            </if>
        </where>
    </select>

    <resultMap id="customer-log" type="com.sesc.rms.po.CustomerPo">
        <id property="id" column="id"></id>
        <result column="name" property="name"></result>
        <result column="address" property="address"></result>
        <result column="qq" property="qq"></result>
        <result column="tel" property="tel"></result>
        <result column="email" property="email"></result>
        <result column="belongs" property="belongs"></result>
        <result column="lasttime" property="lasttime"></result>
        <result column="time" property="time"></result>
        <result column="status" property="status"></result>
        <result column="look" property="look"></result>
        <result column="restatus" property="restatus"></result>
        <result column="caim" property="caim"></result>
        <result column="cfrom" property="cfrom"></result>
        <result column="type" property="type"></result>
        <result column="etime" property="etime"></result>
        <result column="rate" property="rate"></result>
        <result column="remark" property="remark"></result>
        <result column="count" property="count"></result>
        <collection property="logs" ofType="com.sesc.rms.po.CustomerLogPo">
            <result property="logid" column="logid"></result>
            <result property="logname" column="logname"></result>
            <result property="belongsname" column="belongsname"></result>
            <result property="lograte" column="lograte"></result>
            <result property="logquestion" column="logquestion"></result>
            <result property="logremark" column="logremark"></result>
            <result property="logmoney" column="logmoney"></result>
            <result property="logtime" column="logtime"></result>
        </collection>
    </resultMap>
    <!--  根据条件查询信息 -->
    <select id="findCustomerById" resultMap="customer-log" parameterType="com.sesc.rms.po.CustomerPo">
        SELECT
            mc.id, mc.`name`, mc.address, mc.qq, mc.tel, mc.email, mc.belongs, mc.lasttime, mc.time, mc.`status`, mc.look,mc.restatus,
            mc.caim, mc.cfrom, mc.type,mc.etime, mc.rate, mc.remark, mc.count,
            mcl.logid,mcl.`logname`, mcl.belongsname, mcl.lograte, mcl.logquestion, mcl.logremark, mcl.logmoney, mcl.logtime
        FROM
        ml_customer AS mc
        left join ml_customer_log mcl on mc.id=mcl.logid
        where mc.id=#{id}
        order by mcl.logtime desc
    </select>

<!--  修改某个客户信息  -->
    <update id="updateByCustomer" parameterType="com.sesc.rms.po.CustomerPo">
        update ml_customer mc
        <set>
            <if test="name != null and name !=''">
                mc.name=#{name},
            </if>
            <if test="address != null and address !=''">
                mc.address=#{address},
            </if>
            <if test="qq != null and qq !=''">
                mc.qq=#{qq},
            </if>
            <if test="tel != null and tel !=''">
                mc.tel=#{tel},
            </if>
            <if test="email != null and email !=''">
                mc.email=#{email},
            </if>
            <if test="belongs != null">
                mc.belongs=#{belongs},
            </if>
            <if test="lasttime != null and lasttime !=''">
                mc.lasttime=#{lasttime},
            </if>

            <if test="status != null and status !=''">
                mc.status=#{status},
            </if>
            <if test="look != null">
                mc.look=#{look},
            </if>
            <if test="restatus != null and restatus !=''">
                mc.restatus=#{restatus},
            </if>
            <if test="caim != null">
                mc.caim=#{caim},
            </if>
            <if test="cfrom != null and cfrom !=''">
                mc.cfrom=#{cfrom},
            </if>

            <if test="etime != null and etime !=''">
                mc.etime=#{etime},
            </if>
            <if test="rate != null">
                mc.rate=#{rate},
            </if>
            <if test="remark != null and remark !=''">
                mc.remark=#{remark},
            </if>
            <if test="count != null">
                mc.`count`=`count`+1,
            </if>
        </set>
        where mc.id=#{id}
    </update>
</mapper>