<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesc.rms.dao.CustomerLogMapper">
    <insert id="insertOne">
        INSERT into ml_customer_log(logid,`logname`,belongsname,lograte,logquestion,logremark,logmoney,logtime)
        value(#{logid},#{logname},#{belongsname},#{lograte},#{logquestion},#{logremark},#{logmoney},#{logtime})
    </insert>

    <select id="listById" resultType="com.sesc.rms.po.CustomerLogPo">
        SELECT mcl.logid, mcl.logname, mcl.belongsname, mcl.lograte, mcl.logquestion, mcl.logremark, mcl.logmoney, mcl.logtime
        FROM ml_customer_log AS mcl
        where mcl.logid=#{logid}
        order by mcl.logtime desc
    </select>
</mapper>