<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesc.rms.dao.CustomerMapper">

<!--  客户列表查询  -->
    <select id="listCustomers" resultType="com.sesc.rms.po.CustomerPo">
        SELECT
            mc.id,
            mc.`name`,
            mc.address,
            mc.qq,
            mc.tel,
            mc.email,
            mc.belongs,
            mc.lasttime,
            mc.time,
            mc.`status`,
            mc.look,
            mc.restatus,
            mc.caim,
            mc.cfrom,
            mc.type,
            mc.keyword,
            mc.etime,
            mc.rate,
            mc.remark,
            mc.count,
            mc.project,
            su.uid,
            su.uname
        FROM
            ml_customer AS mc
            LEFT JOIN sys_user AS su ON mc.belongs = su.uid
        <where>
            <if test="name != null and name!=''">
                and POSITION(#{name} in mc.name)
            </if>
            <if test="address != null and address!=''">
                and POSITION(#{address} in mc.address)
            </if>
            <if test="qq != null and qq!=''">
                and mc.qq=#{qq}
            </if>
            <if test="tel != null and tel!=''">
                and POSITION(#{tel} in mc.tel)
            </if>
            <if test="email != null and email!=''">
                and mc.email=#{email}
            </if>
            <if test="group !=null and group != -2">
                <choose>
                    <when test="group == 1">
                        <if test="belongs != null and belongs != -3">
                            and mc.belongs=#{belongs}
                        </if>
                    </when>
                    <when test="group == -1 or group == 0">
                        and mc.belongs=#{group}
                    </when>

                </choose>
            </if>

            <if test="lasttime != null and lasttime!=''">
                and mc.lasttime=#{lasttime}
            </if>
            <if test="time != null and time!=''">
                and mc.time=#{time}
            </if>
            <if test="status != null">
                and mc.`status`=#{status}
            </if>
            <if test="look != null">
                and mc.look=#{look}
            </if>
            <if test="restatus != null">
                and mc.restatus=#{restatus}
            </if>
            <if test="caim != null">
                and mc.caim=#{caim}
            </if>
            <if test="cfrom != null and cfrom!=''">
                and POSITION(#{cfrom} in mc.cfrom)
            </if>
            <if test="type != null">
                and mc.type=#{type}
            </if>
            <if test="keyword != null and keyword!=''">
                and mc.keyword=#{keyword}
            </if>
            <if test="etime != null and etime!=''">
                and mc.etime=#{etime}
            </if>
            <if test="rate != null and rate!=''">
                and mc.rate=#{rate}
            </if>
            <if test="remark != null and remark!=''">
                and mc.remark=#{remark}
            </if>
            <if test="count != null">
                and mc.count=#{count}
            </if>
            <if test="project != null and project!=''">
                and mc.project=#{project}
            </if>
        </where>
        order by mc.time
    </select>
</mapper>