<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesc.rms.dao.UserDao">

    <resultMap id="user_login" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="salt" property="salt"></result>
        <result column="realName" property="realName"></result>
    </resultMap>
    <select id="login" resultMap="user_login">
        SELECT
            su.uid,
            su.uname,
            su.`password`,
            su.email,
            su.salt,
            su.realName
        FROM
            sys_user AS su
        WHERE
            su.uname = #{uname}
            AND su.is_del = 0
    </select>

<!--  查询所有用户  -->
    <resultMap id="user_listUser" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="realName" property="realName"></result>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>
    <select id="listUser" resultMap="user_listUser">
        SELECT
            su.uid,
            su.realName,
            su.uname,
            su.`password`,
            su.phone,
            su.email,
            su.create_time,
            su.update_time
        FROM
            sys_user AS su
        WHERE
            su.is_del = 0
    </select>

    <insert id="addUser" keyColumn="uid" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO sys_user( uname,realName, password,salt, phone, email, create_time, update_time,is_del )
        VALUE (#{uname},#{realName},#{password},#{salt},#{phone},#{email},now(),now(),0)
    </insert>

<!--  查询用户全部角色和权限  -->
    <resultMap id="user_listRoleAndPer" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="salt" property="salt"></result>
        <collection property="roles" ofType="com.sesc.rms.po.SysRolePo">
            <id column="rid" property="rid"></id>
            <result column="rname" property="rname"></result>

            <collection property="pers" ofType="com.sesc.rms.po.SysPerPo">
                <id column="pid" property="pid"></id>
                <result column="pname" property="pname"></result>
                <result column="permission" property="permission"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="listRoleAndPer" resultMap="user_listRoleAndPer">
       SELECT
            su.uname,
            su.uid,
            su.`password`,
            su.salt,
            su.phone,
            su.email,
            sr.rid,
            sr.rname,
            sp.pid,
            sp.pname,
            sp.permission
        FROM
            sys_user AS su
            INNER JOIN sys_user_role AS sur ON su.uid = sur.sys_user_id
            INNER JOIN sys_role AS sr ON sr.rid = sur.sys_role_id
            INNER JOIN sys_role_per AS srp ON sr.rid = srp.per_role_id
            INNER JOIN sys_per AS sp ON sp.pid = srp.per_per_id
        WHERE
            su.uname = #{uname}
            AND su.is_del = 0
            AND sr.is_del = 0
            AND sp.is_del = 0
    </select>

<!--  查询指定角色下的用户  -->
    <resultMap id="user-role" type="com.sesc.rms.po.SysUserPo">
        <id column="uname" property="uname"></id>
        <result column="uid" property="uid"></result>
        <result column="realName" property="realName"></result>
        <result column="phone" property="phone"></result>
    </resultMap>
    <select id="listUserByRoleId" parameterType="int" resultMap="user-role">
        SELECT
            su.uname,
            su.uid,
            su.realName,
            su.phone
        FROM
            sys_user AS su
            INNER JOIN sys_user_role AS sur ON su.uid = sur.sys_user_id
        WHERE
            sur.sys_role_id =#{rid}
            <if test="uname != null and uname != ''">
                and position(#{uname} in su.realName)
            </if>
    </select>

<!--  个人信息查询  -->
    <resultMap id="user-info" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="realName" property="realName"></result>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
    </resultMap>
    <select id="findByUid" resultMap="user-info">
        select uid,realName,uname,password,phone,email
        from sys_user
        where uid=#{uid}
    </select>
<!--修改用户信息-->
    <update id="modifyByUser" parameterType="com.sesc.rms.po.SysUserPo">
        update sys_user
        <set>
            <if test="realName != null and realName !=''">
                realName=#{realName},
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone},
            </if>
            <if test="email != null and email != ''">
                email=#{email},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where uid=#{uid}
    </update>


<!--删除用户-->
    <delete id="del">
        delete from sys_user where uid=#{uid}
    </delete>
</mapper>