<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesc.rms.dao.UserDao">

    <resultMap id="user_login" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="salt" property="salt"></result>
    </resultMap>
    <select id="login" resultMap="user_login">
        SELECT
            su.uname,
            su.`password`,
            su.email,
            su.salt
        FROM
            sys_user AS su
        WHERE
            su.uname = #{uname}
            AND su.is_del = 0
    </select>

<!--  查询所有用户  -->
    <resultMap id="user_listUser" type="com.sesc.rms.po.SysUserPo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>
    <select id="listUser" resultMap="user_listUser">
        SELECT
            su.uid,
            su.uname,
            su.`password`,
            su.phone,
            su.email,
            su.create_time,
            su.update_time
        FROM
            sys_user AS su
        WHERE
            su.is_del = 0
    </select>

    <insert id="addUser" keyColumn="uid" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO sys_user( uname, password,salt, phone, email, create_time, update_time,is_del )
        VALUE (#{uname},#{password},#{salt},#{phone},#{email},now(),now(),0)
    </insert>
</mapper>